<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<title>
			{% block title %}Modifier mon mot de passe
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																																																																																																																																																																																								and uncomment the following Encore helpers to start using Symfony UX #}
		<!-- CSS only -->
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>


	{% block body %}
		<h1>Modifier mon mot de passe</h1>

		<a href={{path('account')}} ">Retourner à mon compte</a>
		<hr>
		{% if notification %}
			<div class="alert alert-info">{{notification}}</div>
		{% endif %}
		{{form(form)}}
			<hr>

			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
			{% endblock %}

		{% endblock %}
	</html>
</html></html>
