<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																																																																																																																																																																				and uncomment the following Encore helpers to start using Symfony UX #}
		<!-- CSS only -->
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>
	<body>

		<!-- CONTENT -->
		<section>
			<div class="container d-flex flex-column">
				<div class="row align-items-center justify-content-center gx-0 min-vh-100">
					<div
						class="col-12 col-md-6 col-lg-4 py-8 py-md-11">

						<!-- Heading -->
						<h1 class="mb-0 fw-bold">
							Ouvrir une session
						</h1>

						<!-- Text -->
						<p class="mb-6 text-muted">
							Administation du site internet.
						</p>

						<!-- Form -->
						<form method="post">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}
							{% for message in app.flashes('notice') %}
								<div class="alert alert-info">{{message}}</div>
							{% endfor %}


							{% if app.user %}
								<div class="mb-3">
									Vous êtes connecté en tant que:
									{{ app.user.username }},
									<a href="{{ path('app_logout') }}">Se déconnecter</a>
								</div>
							{% endif %}

							<h1 class="h3 mb-3 font-weight-normal">Veuillez vous connectez</h1>
							<label for="inputUsername">Utilisateur</label>
							<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
							<label for="inputPassword">Mot de passe</label>
							<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<button class="btn btn-lg btn-primary mt-5" type="submit">
								Se connecter
							</button>
						</form><!--Text--><pclass="mb-0fs-smtext-muted">
							Vous n'avez pas de compte?
							<a href="{{path('register')}}">Créer un compte utilisateur</a>.

						</p>
						<p class="mb-0fs-smtext-muted">

							<a href="{{path('reset_password')}}">Mot de passe oublié?</a>.

						</p>


					</div>
					<div
						class="col-lg-7 offset-lg-1 align-self-stretch d-none d-lg-block" data-aos="fade-left">

						<!-- Image -->
						<div class="h-100 w-cover bg-cover" style="background-image: url(/img/cover-14.jpg);"></div>

						<!-- Shape -->
						<div class="shape shape-start shape-fluid-y text-white">
							<svg viewbox="0 0 100 1544" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h100v386l-50 772v386H0V0z" fill="currentColor"/></svg>
						</div>

					</div>
				</div>
				<!-- / .row -->
			</div>
			<!-- / .container -->
		</body>
	</body>
</html></section>{% block javascripts %}
{{ encore_entry_script_tags('app') }}{% endblock %}</body></html>
