<!-- SHAPE -->
<div class="position-relative">
	<div class="shape shape-bottom shape-fluid-x text-gray-200">
		<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
	</div>
</div>

<!-- HUB -->

<section class="py-8 py-md-11 bg-gray-200">
	<div class="container">
		<div class="row">
			<div
				class="col-12 col-md-4 text-center" data-aos="fade-up">

				<!-- Icon -->
				<div class="icon text-primary mb-3">
					<svg width="24" height="24" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M7 3h10a4 4 0 110 8H7a4 4 0 110-8zm0 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA"/><path d="M7 13h10a4 4 0 110 8H7a4 4 0 110-8zm10 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA" opacity=".3"/></g>
					</svg>
				</div>

				<!-- Heading -->
				<h3>
					Nos Compétences
				</h3>

				<!-- Text -->
				<p class="text-muted mb-6 mb-md-0">
					Apporter des solutions rapides et adaptées à vos besoins.</p>


			</div>
			<div
				class="col-12 col-md-4 text-center" data-aos="fade-up" data-aos-delay="50">

				<!-- Icon -->
				<div class="icon text-primary mb-3">
					<svg width="24" height="24" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5.5 4h4A1.5 1.5 0 0111 5.5v1A1.5 1.5 0 019.5 8h-4A1.5 1.5 0 014 6.5v-1A1.5 1.5 0 015.5 4zm9 12h4a1.5 1.5 0 011.5 1.5v1a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-1a1.5 1.5 0 011.5-1.5z" fill="#335EEA"/><path d="M5.5 10h4a1.5 1.5 0 011.5 1.5v7A1.5 1.5 0 019.5 20h-4A1.5 1.5 0 014 18.5v-7A1.5 1.5 0 015.5 10zm9-6h4A1.5 1.5 0 0120 5.5v7a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-7A1.5 1.5 0 0114.5 4z" fill="#335EEA" opacity=".3"/></g>
					</svg>
				</div>

				<!-- Heading -->
				<h3>
					Nos Services
				</h3>

				<!-- Text -->
				<p class="text-muted mb-6 mb-md-0">
					Mintenance, conception et vente de votre matériel informatique et électronique.

				</p>

			</div>
			<div
				class="col-12 col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">

				<!-- Icon -->
				<div class="icon text-primary mb-3">
					<svg width="24" height="24" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M17.272 8.685a1 1 0 111.456-1.37l4 4.25a1 1 0 010 1.37l-4 4.25a1 1 0 01-1.456-1.37l3.355-3.565-3.355-3.565zm-10.544 0L3.373 12.25l3.355 3.565a1 1 0 01-1.456 1.37l-4-4.25a1 1 0 010-1.37l4-4.25a1 1 0 011.456 1.37z" fill="#335EEA"/><rect fill="#335EEA" opacity=".3" transform="rotate(15 12 12)" x="11" y="4" width="2" height="16" rx="1"/></g>
					</svg>
				</div>

				<!-- Heading -->
				<h3>
					Assistance Technique
				</h3>

				<!-- Text -->
				<p class="text-muted mb-0">
					Support technique adaptés, en fonction de vos besoins et de votre budget</p>


			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->


</section>

<!-- Promos -->


<section class="pt-10 pt-md-6 pb-12 pb-md-12">
	<div class="container mb-5">
		<div class="row justify-content-center">
			<div
				class="col-12 col-md-10 col-lg-8 text-center">

				<!-- Headin -->
				<h2>
					Nos offres du moment:
				</h2>

				<!-- Text -->
				<p class="lead text-secondary mb-4">
					Retrouvez tous nos offres promotionnels et nos nouveautés ici!


				</p>


				<!-- Badges -->
				<nav class="nav justify-content-center">

					<a class="badge rounded-pill bg-secondary-soft me-1 mb-1" href="#" data-bs-toggle="pill" data-filter=".new" data-bs-target="#portfolio">
						<span class="h6 text-uppercase">Nouveautés</span>
					</a>
					<a class="badge rounded-pill bg-secondary-soft me-1 mb-1" href="#" data-bs-toggle="pill" data-filter=".promos" data-bs-target="#portfolio">
						<span class="h6 text-uppercase">Promos</span>
					</a>

				</nav>

			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->


	<div class="container">
		<div class="row" id="portfolio" data-isotope='{"layoutMode": "fitRows"}'>


			{% for service in servicesNew %}
				<div

					class="col-12 col-md-3 new">

					<!-- Card -->
					<a
						class="card shadow-light-lg mb-7" href="{{path('service', {'slug': service.slug})}}">


						<!-- Image -->
						<div class="card-zoom">
							<img class="card-img" src="/uploads/{{service.illust }}" alt="{{service.nom}}">


						</div>

						<!-- Overlay -->
						<div class="card-img-overlay card-img-overlay-hover">
							<div class="card-body bg-white">

								<!-- Shape -->


								<!-- Preheading -->
									<h6 class="text-uppercase mb-1 text-muted"> {{service.nom}}</h6>


							</div>
						</div>

					</a>

				</div>
			{% endfor %}
			{% for service in servicesPromo %}

				<div
					class="col-12 col-md-3 promos">

					<!-- Card -->
					<a
						class="card shadow-light-lg mb-7" href="{{path('service', {'slug': service.slug})}}">


						<!-- Image -->
						<div class="card-zoom">
							<img class="card-img" src="/uploads/{{service.illust }}" alt="{{service.nom}}">


						</div>

						<!-- Overlay -->
						<div class="card-img-overlay card-img-overlay-hover">
							<div
								class="card-body bg-white">


								<!-- Preheading -->
								<h6 class="text-uppercase mb-1 text-muted">{{service.nom}}</h6>


							</div>
						</div>

					</a>

				</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- SHAPE -->
<div class="position-relative">
	<div class="shape shape-bottom shape-fluid-x text-gray-200">
		<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
	</div>
</div>
