<section class="py-8 py-md-11 mt-n10 mt-md-n14">
	<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">


		<div class="carousel-indicators">
			{% for key,header in headers %}
				<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{key}}" {% if key == 0 %} class="active" {% endif %}></button>
			{% endfor %}
		</div>
		<div class="carousel-inner">
			{% for key,header in headers %}
				<div class="carousel-item {% if key == 0 %}active{% endif %}" style="background: url('/uploads/{{header.illustration}}');background-size:cover;background-position:center;height:32rem !important;">


					<div class=" container">
						<div class="carousel-caption" style="text-align:left !important" ;>
							<h1>{{header.title}}</h1>
							<p>{{header.content}}</p>

							<a class="btn btn-light btn-sm" href="{{header.btnUrl}}">{{header.btnTitle}}</a>


						</p>
					</div>
				</div>

			</div>
		{% endfor %}
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div></section><!-- SHAPE --><div class="position-relative mt-n11">
<div class="shape shape-bottom shape-fluid-x text-dark">
	<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
</div></div>
