{% extends "base.html.twig" %}
{% block title %}
	{{service.nom }}
{% endblock %}
{% block body %}


	<!-- CONTENT -->
	<section class="pt-8 pt-md-11 pb-8 pb-md-14">
		<div class="container">
			<div class="row align-items-center">
				<div
					class="col-12 col-md">

					<!-- Heading -->
					<h1 class="display-4 mb-2">
						{{service.nom }}


					</h1>
					<!-- Divider -->
					<hr class="my-6 my-md-4">


				</div>


				<!-- / .row -->
				<div class="row">
					<div
						class="col-12 col-md-8">

						<!-- Text -->
						<p class="fs-lg text-gray-800 mb-6 mb-md-4">
							{{ service.description|raw}}</p>


						<!-- Text -->


						<p class="fs-lg text-gray-700 mb-md-0">
							Prix:
							{{(service.price /100)| number_format(2, ',', '.')}}
							&euro;


						</p>


					</div>
					<div class="col-12 col-md-4">
						<figure
							class="figure mb-7" data-aos='fade-left'>


							<!-- Image -->
							<img class="figure-img img-fluid rounded lift lift-lg" src="/uploads/{{service.illust }}" alt="{{service.nom}}">


						</figure>


					</div>

				</div>
				<!-- / .row -->
			</div>
			<!-- / .container -->
		</section>

		<!-- SHAPE -->
		<div class="position-relative">
			<div class="shape shape-bottom shape-fluid-x text-dark">
				<svg viewbox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
			</div>
		</div>
	{% endblock %}
