{% extends 'base.html.twig' %}

{% block title %}
	{{category.name}}

{% endblock %}


{% block  body %}
	<section class="pt-7 pt-md-10 pb-12">

		<div class="container">


			<div class="row align-items-center mb-5">

				<div
					class="col-12 col-md">

					<!-- Heading -->
					<h3 class="mb-5">
						{{category.name}}
					</h3>

					<!-- Text -->
					<p class="mb-0 text-muted">
						{{category.description|raw}}


					</p>

				</div>


			</div>

			<!-- / .row -->
			<div class="row">

				{% for service in services %}
					<div
						class="col-12 col-md-6 col-lg-4 d-flex mb-5">

						<!-- Card -->
						<div
							class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg" data-aos="fade-up" data-delay="100">

							<!-- Image -->
							<a
								class="card-img-top" a href="{{path('service', {'slug': service.slug})}}">


								<!-- Image -->
								<img src="/uploads/{{service.illust }}" class="card-img-top" alt="{{ service.nom}}" width="300" height="250">


							</a>

							<!-- Body -->
							<a
								class="card-body" a href="{{path('service', {'slug': service.slug})}}">


								<!-- Heading -->
								<h3>
									{{service.nom }}

								</h3>

								<!-- Text -->
								<p class="mb-0 text-muted">
									{{ service.description|striptags|u.truncate(200, '...', false)|raw }}</p>


							</a>

							<!-- Meta -->
							<a
								class="card-meta mt-auto" a href="{{path('service', {'slug': service.slug})}}">


								<!-- Divider -->
								<hr
								class="card-meta-divider">


								<!-- Author -->
								<h6 class="text-uppercase text-muted me-2 mb-0">
									Prix:
									{{(service.price /100)| number_format(2, ',', '.')}}

								</h6>


							</a>

						</div>

					</div>


				{% endfor %}

				<!-- / .row -->
			</div>
			<!-- / .container -->
		</section>
	{% endblock %}
